	
body {
	font-size: 14px;
}	

.floating-content-box {
	border-radius: 25px;
	border: 2px solid #73AD21;
	color: #73AD21;
	padding: 20px;
	width: 380px;
	height: 120px;
}

.main-menu-box {
	border: 2px solid #73AD21;
	color: #73AD21;
	padding: 10px;
	width: 60px;
	height: 20px;
}

.floating-menu {
	position: relative;
}

.floating-menu ul {
	list-style-type: none;
}

.floating-menu li {
	list-style-type: none;
	width: 140px;
	height: 20px;
	border: 2px solid #73AD21;
	color: #73AD21;
	padding: 10px;
	display: none;
	background-color: black;
	
}

